

.artists{
    margin-right: 70px;
}

.description-song{
    color: green;
    font-size: 1.2em;
}

ul li {
   list-style-type: circle;
}

.anneeDeSortie{
    margin-left: 70px;
    color: blue;
    font-weight: 700;
}

.song-audio-file{
    margin-top: 20px;
}

/* .details-artist{
    overflow-y:scroll;
    overflow-x:hidden;
    top: 0;
    position: sticky; 
} */

audio{
    width: 30rem;
    height: 3rem;
    
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }