<app-navbar></app-navbar>
<h2>Artists</h2>



<section class="home-cover"></section>
<div class="container-artists">       
  <div class="row mt-3 mb-5">
      <div class="row mt-3 mb-5">
          <div class="col-lg-6 col-md-6 col-sm-12 col-card " >
                <div class="card mt-3  px-2 "  *ngFor="let art of artists" >
                 <a routerLink="/artist/{{art.id}}">     
                  <div class="card-body">
                        <div class="photo-artist">
                          <img [src]="art.image" alt="">
                        </div>
                        <div class="description-artist">
                            <h4 class="card-title">{{art.fullName}}</h4>
                            <h6 class="card-subtitle mb-2 album ">{{art.albumName}}</h6>
                            <h6 class="card-subtitle mb-2 ">{{art.recentSongReleased}}</h6>
                            <p class="card-subtitle mb-2 " > {{art.details}} </p>
                            <!-- <ul>
                              <li > </li>
                            </ul> -->
                            <button class="btn btn-primary" (click)="onSelect(art)" routerLink="/artist/{{art.id}}">Découvrir</button>
                            <button class="btn btn-warning mx-3" routerLink=""><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger mx-3" routerLink=""><i class="fa fa-trash"></i></button>
                        </div> 
                      </div>
                    </a>
                </div> 
          </div>
          <!-- second column -->
          <div class="col-lg-6 col-md-6 col-sm-12 col-card ">
            <div class="card mt-3  px-2 card-detail sticky-top">
                   <div class="card-body "> 
                  <app-artist-details 
                  [chosenArtist]="selectedArtist">
                  </app-artist-details>
                </div> 
      </div>
      </div>
  </div>
</div>
</div>
<section class="section-two"></section>


